<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoBuddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhotoBuddy.Properties.Settings>
            <setting name="PhotosFolderPath" serializeAs="String">
                <value>.\PhotoBuddy</value>
            </setting>
            <setting name="DataFilePath" serializeAs="String">
                <value>.\PhotoBuddyData.xml</value>
            </setting>
        </PhotoBuddy.Properties.Settings>
    </userSettings>
</configuration>